{
  box-sizing: border-box;
}
body{
  font-family: Goudy Old Style;
  margin: 0;
  background: url(Fondo.jpg);
}
p{font-size: 1.25em;}
ul{list-style: none;}

@media (max-width: 700px){
  header{
     flex-direction: column;  
  }

  nav{
     padding: 10px 0px;
  }
}
button{
  font-size: 1.5em;
  font-weight: bold;
  padding:10px 20px;
  border-radius: 5%;
  border: 1px solid white (0,0,0,0.5);
  box-shadow: 2px 2px 10px white (0,0,0,0.5);
  color: white;
  background-color: skyblue;
}

.video {
  position: relative;
  padding-bottom: 70%;
  padding-top: 0px;
  overflow: hidden;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#Blog .container{
  background-color: black (30,30,30);
  color: black;
  text-align: center; 
}

#Blog .container{
  padding: 2px 0px;
}
#Blog p{
  display: none;
}
#Blog .carta{
  background-position: center center;
  background-size: cover;
  padding: 60px;
  margin: 30px;
  border-radius: 15px;
}

.imagen{
  width: 100%;
  display: block;
}
.imagen img{
  height: 100%;
  width: 98%;
}

.galeria{
  width: 95%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns:repeat(3,1fr);
  justify-content: space-between;
  align-items: down;
  padding: 5px;
}
  
.carta:first-child{
  background: blanchedalmond;
}

.carta:nth-child(2){
  background: blanchedalmond;
}

.carta:nth-child(3){
  background: blanchedalmond;
}
#Blog .Informate{
  display: flex;
  justify-content: center;
  
}
#Blog p{
  display: block;
  margin-bottom: 10px;
}
#Blog .carta{
  padding: 10px;
}

.Centrar img{
  height: 100%;
}
.Biografía{
  width: 70%;
  height: 100%;
  background: blanchedalmond;
  border-radius: 10px;
  margin: calc(50vh - 100%) 
  auto;
  padding:20px 30px;
  text-align: center;
  font-family: Goudy Old Style;
}

.Bandera{
  background:  #111;
  height: auto;
  width: 100vw;
  font-family: "oudy Old Style";
  padding-top: 40px;
  color: white;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.Bandera img{
  height: 40px;
  width: 50px;
}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.footer-botom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-botom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
.Biografía img{
  height: 250px;
}

.Biografía h3{
  color: darkblue;
  text-align: center;
  
}
a{
  text-decoration: none;
  color: darkblue;
}

header{
  display: flex;
  min-height: 70px;
  background: skyblue;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo{
  display: flex;
  align-items: center;
}

.logo img{
   height: 90px;
   margin: right 10px;
}

nav a{
   font-weight: 600;
   padding-right: 10px;
}

nav a:hover{
   color: white;
}

.Centrar img{
   width: 100%;
  height: 100%;
}

.Centrar li{
  font-size: 25px;
  color: black;
}


.Centrar p{
  font-size: 23px;
  color: black;
  text-align: center;
}

.Centrar ul{
  list-style-type: square;
  color: black; 
  font-size: 25px;
}

.Fondo {
  width: 900px;
  height: 550px;
  margin: 5px auto;
  display: flex;
  justify-content: center;
  padding: center;

  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(blanchedalmond;);
}

.Contactos{
  width: 500px;
  height: 350px;
  background: blanchedalmond;
  border-radius: 10px;
  margin: calc(50vh - 220px) 
  auto;
  padding:20px 30px;
  text-align: center;
  font-family: Goudy Old Style;
}

.Centrar ol{
  list-style-type: square;
  color: blanchedalmond; 
  font-size: 17px;
}

.Contactos p{
  color: black;
  font-size: 23px;
  
}

.Contactos img{
   width: 200px;
  height: 190px;
}

.form p{
  color: black;
  font-size: 20px;
}
.form{
  width: 240px;
  height: 350px;
  background: blanchedalmond;
  border-radius: 10px;
  margin: calc(50vh - 220px) 
  auto;
  padding:20px 30px;
  text-align: center;
  font-family: Goudy Old Style;

}
h1 {  
  font-size: 60px;
  color: skyblue;
  text-align: center;
  background-color: blanchedalmond;
}

h2 {
  font-family: sans-serif;
  text-align: center;
  color: darkblue;
}

h4 {
  font-size: 10px;
  text-align: center;
}
